$pageBackground: rgba(198, 238, 252, 0.53);
$briefBackgound: #fff178;
$contentBackgroud: #3b3b3b; 
$headerBorder: #fccd10;
$button: #f5c70f;
$formColor: $headerBorder;
$tableBackground: #677d01;
$tableHeads: #94a34e;
$fontColor: #ffffff;
$fontBlack: #000000;